:root {
    --theme-duration-change: 0.2s;
}
html, body {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
}
.theme-duration {
    transition-property: background-color, color, border-color!important;
    transition-duration: var(--theme-duration-change)!important;
}
.theme-link {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-link)!important;
}
.theme-link:hover {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-link-hover)!important;
}
.theme-primary {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-primary)!important;
}
.theme-primary-text {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-primary)!important;
}
.theme-primary-plus {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-primary-plus)!important;
}
.theme-primary-plus-text {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-primary-plus)!important;
}
.theme-border-primary {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    border-color: var(--theme-primary)!important;
}
.theme-border-primary-plus {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    border-color: var(--theme-primary-plus)!important;
}
.theme-title {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-title)!important;
}
.theme-text {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-text)!important;
}
.theme-logo {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-logo)!important;
}
.theme-nav-link {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-nav-link)!important;
}
.theme-icon {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-icon)!important;
}
.theme-panel {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-panel)!important;
}
.theme-panel-dark {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-panel-dark)!important;
}
.theme-panel-primary {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-panel-primary)!important;
}
.theme-header {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-header)!important;
}
.theme-footer {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-footer)!important;
}
/* Supported Bootstrap4 */
h1, h2, h3, h4, h5, h6, b, span, small, big {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-text)!important;
}
.display-1, .display-2, .display-3, .display-4 {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-title)!important;
}
.text-primary {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-primary)!important;
}
.text-info {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-info)!important;
}
.text-warning {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-warning)!important;
}
.text-danger {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-danger)!important;
}
.text-success {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-success)!important;
}

.text-muted {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    color: var(--theme-muted)!important;
}
.white {
    background-color: var(--theme-primary)!important;
}

.dropdown-content {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-panel)!important;
}
.dropdown-content li.active, .dropdown-content li:hover {
    transition-property: background-color, color, border-color;
    transition-duration: var(--theme-duration-change)!important;
    background-color: var(--theme-primary)!important;
    color: var(--theme-link)!important;
}
.select-wrapper input.select-dropdown {
    color: var(--theme-title)!important;
}

hr {
    border-top: 1px solid var(--theme-muted)!important;
}


/* Old Style */
.border-black {
    border-color: var(--theme-black)!important;
}
.border-white {
    border-color: var(--theme-white)!important;
}