# сессии на поддоменах
php_value session.cookie_domain sun.iny.su

# cross ajax
Header set Access-Control-Allow-Origin *

# подавить ошибки php
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0

# индекс файл
DirectoryIndex app.php
# время
<IfModule mod_setenvif.c>
	SetEnv TZ Europe/Moscow
</IfModule>
ServerSignature Off
AddDefaultCharset UTF-8
# сжатие данных
<ifModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

# Bad Rquest
ErrorDocument 400 /app.php
# Authorization Required
ErrorDocument 401 /app.php
# Forbidden
ErrorDocument 403 /app.php
# Not found
ErrorDocument 404 /app.php
# Method Not Allowed
ErrorDocument 405 /app.php
# Request Timed Out
ErrorDocument 408 /app.php
# Request URI Too Long
ErrorDocument 414 /app.php
# Internal Server Error
ErrorDocument 500 /app.php
# Not Implemented
ErrorDocument 501 /app.php
# Bad Gateway 
ErrorDocument 502 /app.php
# Service Unavailable 
ErrorDocument 503 /app.php
# Gateway Timeout
ErrorDocument 504 /app.php

ServerSignature EMail
SetEnv SERVER_ADMIN fedorvladis@outlook.com